{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module",
    "typescript": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "import"
  ],

  "rules": {
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "@typescript-eslint/no-use-before-define": ["error"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-spacing": ["warn"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "comma-spacing": ["warn"],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "func-names": ["error", "never"],
    "import/default": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/first": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-cycle": "error",
    "import/no-extraneous-dependencies": ["error"],
    "import/no-named-default": "error",
    "import/no-self-import": "error",
    "import/no-unresolved": "error",
    "import/no-useless-path-segments": "error",
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["internal", "parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "import/prefer-default-export": "off",
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "newline-before-return": ["error"],
    "max-depth": ["error", 4],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-debugger": ["warn"],
    "no-else-return": "error",
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multi-spaces": ["error", { "ignoreEOLComments": false }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", { "destructuring": "all" }],
    "prefer-destructuring": "error",
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/jsx-sort-props": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "semi": ["warn", "always"],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "space-before-blocks": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error"
  },
  "settings": {
    "import/external-module-folders": ["node_modules"],
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "./webpack.config.dev.ts"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
